<div class="padder">      
	<div class="streamline b-l b-info m-l-lg m-b padder-v">
	  	<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3">
			  <a href="" class="pull-right">
			  	<img src="images/kebi.png" class="img-circle">
			  </a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-7">
				<div class="pull-left">
					<br>
				  	<span>昵称：</span>啾啾啾<br>
				  	</br>
				  	<span>性别：</span>女<br>
				  	</br>
				  	<span>职业：</span>啾啾啾<br>
				  	</br>
				  	<span>所在地：</span>啾啾啾<br>
				  	<hr>
			  	</div>
			</div>
		  </div>

	</div>
</div>